form{
    border:2px solid rgb(79, 73, 73);
    border-radius: 5px;
    justify-content:space-evenly;
    text-align: center;
    margin:10px;
    background-color: rgb(153, 208, 228);
}
select{
    width:500px;
    height:32px;
    border-radius: 5px;
    font-size:medium;  
    font-weight:lighter;
}
.d{
  margin:5px;
  padding:2px;
  font-size: xx-large;  
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
}
input{
    width:500px;
    height:30px;
    border-radius: 5px;
}
#btn{
    height:70px;
    width:150px;
    border-radius:10px;
    margin:5px;
    background-color: navy;
    color: aliceblue;
    font-size: xx-large;  
  font-weight: bolder;
}
li{
    font-size: large;
    background-color:hotpink;
    border-radius: 10px;
    
}
.delbtn,.editbtn{
background-color:grey;
border-radius: 2px;

}
h1{
text-align: center;
text-decoration:solid;
font-size:50px;
background-color:rgb(180, 165, 165);
padding:2px;
border-radius: 50px;
margin-bottom: 0px;
}